# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Apple private key
*.p8
AuthKey_*.p8

# Build output
dist/
build/
.vite/
*.tsbuildinfo

# Vercel
.vercel/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo

# Test coverage
coverage/
.nyc_output/

# doc plan
docs

# ui design
ui-design
